body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.header{
    background-color: black;
    padding: 20px;
    height: 100px;
    color: white;
}

.header a{
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 45em;
    font-weight: bold;
    
}

form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #27ae60;
}
